<nav class="navbar navbar-expand-lg bg-white shadow-sm rounded-3 py-2 px-4">
  <div
    class="container-fluid d-flex align-items-center justify-content-between"
  >
    <!-- Logo -->
    <div class="d-flex align-items-center gap-2">
      <img
        src="../../../assets/Logo Assel.png"
        alt="Assel Logo"
        class="logo"
        onclick="window.location.reload()"
      />
    </div>

    <!-- Links -->
    <div
      class="links-container d-none d-md-flex align-items-center justify-content-center flex-grow-1"
    >
      <a class="nav-link-custom" href="#home">
        <i class="bi bi-house-door-fill"></i> الرئيسية
      </a>
      <a class="nav-link-custom" href="#how">
        <i class="bi bi-gear-wide-connected"></i> كيف يعمل
      </a>
      <a class="nav-link-custom" href="#uploadphoto">
        <i class="bi bi-upload"></i> رفع المشروع
      </a>
      <a class="nav-link-custom" href="#contact">
        <i class="bi bi-envelope-fill"></i> تواصل
      </a>
    </div>
  </div>
</nav>
